@{  
    ViewData["Title"] = "Config";  
    var config = new string[] { "Officer", "Category", "Product" };  
}  
<h1>Select Config</h1>  

<div class="dropdown">  
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">  
        Dropdown button  
    </button>  
    <ul class="dropdown-menu" id="categoryDropdown">
        @foreach (var type in config)
        {
            <li><a data-value="@type" class="dropdown-item">@type</a></li>
        }
    </ul>

    <div id="test">test</div>

    <table class="table table-bordered" id="configTable">
        <thead>
            <tr></tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $('#categoryDropdown').on('click', '.dropdown-item', function () {
            const selectedValue = $(this).data('value');

            $("#test").text(selectedValue);

            const path = '/Home/GetAll' + selectedValue + 's'

            $.ajax({
            url: path,
            type: 'GET',
            success: function (data) {
                console.log(data);
                const tbody = $('#configTable tbody');
                const thcolumn = $('#configTable thead tr');
                const tdrow = $('#configTable tbody tr');
                tbody.empty();
                thcolumn.empty();
                const propertyNames = Object.keys(data[0]);

                if (data.length === 0) {
                    tbody.append('<tr><td colspan="2">No data found.</td></tr>');
                } else {
                    $.each(propertyNames, function (i, propertyName) {
                        thcolumn.append(`<th>${propertyName}</th>`);
                    });

                    let body = ""

                    $.each(data, function (i, obj) {
                        // tbody.append(`<tr><td>${obj.id}</td><td>${obj.name}</td></tr>`);
                        let row = "<tr>"

                        $.each(data[i], function (key, value) {
                            row = row + `<td>${value}</td>`
                        });

                        row = row + "</tr>"
                        tbody.append(row);
                    });
                }
            },
            error: function (xhr, status, error) {
                console.error('Error fetching data:', error);
                $('#configTable tbody').html('<tr><td colspan="2">An error occurred.</td></tr>');
                $('#configTable thead').html('<tr><th colspan="2">Error</th></tr>');
            }
            });
        });

    </script>
}